:root{
    --yellow : #ffc600;
    --purple : #D527F7;
    --pink   : #F2A0DB;
}
h3{
    font-size: 100px;
    color: var(--purple);
    margin-left: 50px;
}
.hehe{
    font-size: 70px;
    color: purple;
}
.landing{
    display: flex;
    flex-direction: row;
    background-color: var(--pink);
}
@media only screen and (max-width: 600px){
    .landing {
    }
        flex-direction : column;
    .hehe {
        font-size: 50 px;
    }
}